body {
  margin: 0;
  padding: 0;
  
}

header {
  background-color: #333;
  color: #fff;
  text-align: center;
  position: fixed;
  width: 100%;
  top:0;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
}

button{
  background-color: #333;
  color: #fff;
  border-radius: 30px;
  padding: 10px 20px;
  cur sor{:pointer;}
}
button:hover{
  background-color:aqua;
  
}

.test  {
  color: black;
  margin: 90px;
  text-align: center;
  top: 100px;
}
img{
  height: 100%;
  width: 100%;
  position: relative;
}
div ul li{
  text-align: center;
 padding: 0;
}
div ul li{
  list-style-type: none;
}
.image-row{
  display: flex;
}
.image-row{
  width: 33.33%;
}
main {
  flex: 1;
}

main {
  flex: 1; /* expand to fill remaining vertical space */
}

footer {
  background-color: black;
  color: white;
  padding: 20px;
  margin-top: auto; /* stick to the bottom of the page */
  text-align: center;
  width: 100%;
  height: 10%;
}

.image-container {
  position: relative;
  display: inline-block;
  overflow: hidden;
  background-color: black;
  background
}

.image-container img {
  transition: transform: 0.3s;
  width: 300px;
  height: 350px;
}

.image-container:hover img {
  transform: scale(1.1); /* اندازه بزرگ‌نمایی را می‌توانید تنظیم کنید */

}
.image-container {
  position:relative;
  display: inline-block;
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s;
}

.image-container:hover .overlay {
  opacity: 1;
}

.overlay img {
  width: 50px; /* Adjust size as needed */
  height: 50px;
}




.Image-container1 {
  position: relative;
  display: inline-block;
  overflow: hidden;
  background-color: black;
}

.Image-container1 img {
  transition: transform 0.3s;
  width: 300px;
  height: 350px;
}

.Image-container1:hover img {
  transform: scale(1.1); /* اندازه بزرگ‌نمایی را می‌توانید تنظیم کنید */

}
.Image-container1 {
  position: relative;
  display: inline-block;
}

.overlay2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s;
}

.Image-container1:hover .overlay2 {
  opacity: 1;
}

.overlay2 img {
  width: 50px; /* Adjust size as needed */
  height: 50px;
}








.image-mahsa {
  position: relative;
  display: inline-block;
  overflow: hidden;
  background-color: black;
}

.image-mahsa img {
  transition: transform 0.3s;
  width: 300px;
  height: 350px;
}

.image-mahsa:hover img {
  transform: scale(1.1); /* اندازه بزرگ‌نمایی را می‌توانید تنظیم کنید */

}
.image-mahsa {
  position: relative;
  display: inline-block;
}

.Mahsa {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s;
}

.image-mahsa:hover .Mahsa {
  opacity: 1;
}

.Mahsa img {
  width: 50px; /* Adjust size as needed */
  height: 50px;
}








